locations:
  last:
    path: /home/backups/current
  past:
    path: /home/backups/past
    format: '(?P<date>[0-9]+)_(?P<server>[^_]+)_(.*)\.t?gz'

rewrite:
  server:
    bbb: bbb.example.com
    wp: wordpress.example.com

